_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.bundle/
vendor/

# Local workspace config
*.code-workspace
.github/prompts/

# Context files
og_docs/
*.py

# Ignorar videos y zips
*.mp4
*.zip
assets/videos/
assets/img/*.zip